{
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".lintstagedrc",
        ".huskyrc",
        ".commitlintrc",
        ".eslintrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}
